* {
  font-family: "Lato", sans-serif;
padding: 0%;
}


/* NAV */

.navLogo {
  width: 4rem;
}

.navPadding {
  padding: none !important;
}

/* HOME */
.hide {
  display: none;
}
    
.homeImg:hover + .hide {
  display: block;
  color: black;
}

.socialMedia {
  color: lightgrey;
}
/* .socialMedia:hover {
  color: lightgrey;
} */

/* ABOUT ME */
.mySkills {
  /* margin: 4rem 2rem 1rem 4rem; */
  color: #77b5b3;
  border-bottom: 2px 4px black;
}

.name {
  color: #77b5b3;
}

.skillsList {
  list-style-type: circle;
  /* color: #77b5b3; */
}

hr {
  height: 12px;
  background: black;
}

.firstP {
  text-indent: 10px;
}

/* RESUME */
.resumeLInk {
  text-decoration: none;
  color: none;
  border: black;
}
a {
  color: none !important;
}

/* DESIGNS */
.projectCards {
  /* padding: 50px; */
  transition: transform .2s; /* Animation */
  /* width: 200px;
  height: 200px; */
  margin: 0 auto;
}

.projectCards:hover {
  /* opacity: .5; */
  transform: scale(1.2);
}
.projectLinks {
  text-decoration: none;
  color: darkgray;
}


/* Contact */ 
.messageBody {
width: 100%;
padding: 12px; 
border: 1px solid #ccc;
box-sizing: border-box; 
margin-top: 6px;
margin-bottom: 16px; 
resize: vertical 
}

/* .listCircle {
  color: #77b5b3;
} */

/* FOOTER */

.footlink {
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

.boxy{
  position: relative;
  display: block;
  width: 90%;
  height: 350px;
  margin: 0 auto 2em;
  padding: 0;
  background-size: cover;
  border-radius: 10px;
  box-shadow:0px 25px 50px rgba(0,0,0,.5);
  overflow:hidden;
  transition:all .4s ease;
}

.overlay_1{
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  z-index:10;
}

.overlay_1:after {
  content: '';
  width: 200%;
  border-radius: 10px;
  height: 100%;
  background-color: #202020;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: -10;
  left: 0;
  transition: all .3s ease;
}

.overlay-text {
  position: relative;
  top:-200px;
  margin-bottom:1em;
  margin-top:1.5em;
  font-family: "Montserrat";
  font-size: 2.25em;
  font-weight: 200;
  color:white;
  text-align: center;
  letter-spacing:5px;
  transition:all .3s cubic-bezier(.3, 0, 0, 1.3);
}

.overlay-link{
  position: relative;
  display: block;
  width: 40%;
  top: 220px;
  padding: 10px;
  margin: 0 auto;
  font-family: "Montserrat";
  color: white;
  letter-spacing: 3px;
  text-decoration: none;
  text-align: center;
  border: 2px solid white;
  border-radius: 3px;
  font-size: 1.25em;
  transition: all 0.3s cubic-bezier(0.3, 0, 0, 1.3);
}

.overlay-link:hover{
  background-color: white;
  color:#202020;
  text-decoration: none;
}


.boxy:hover .overlay-text {
  top: 0;
}

.boxy:hover .overlay-link{
  top: 0;
}

.boxy:hover .overlay_1:after {
  opacity: .90;
}

.box_1{
  background-image: url('./assets/projects/book-search.jpg');
  background-position: contain;
}
.box_2{
  background-image: url('./assets/projects/budget-tracker.jpg');
  background-position: center;
}
.box_3{
  background-image: url('./assets/projects/deep-thoughts.jpg');
  background-position: contain;
}
.box_4{
  background-image: url('./assets/projects/helping-hands.PNG');
  background-position: center;
}
.box_5{
  background-image: url('./assets/projects/local-heroes.jpg');
  background-position: center;
}
.box_6{
  background-image: url('./assets/projects/the-movie-hub.jpg');
  background-position: contain;
}